# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a parent script -
#  warn user about missing files
*.manifest
*.spec

# Pyre type checker
.pyre/

# pytype static analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# VSCode
.vscode/

# SQLite
*.sqlite3
db.sqlite3

# Django
*.log
local_settings.py
media/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#mypy
.mypy_cache/
.dmypy.json
dmypy.json

#pytest
.pytest_cache/
.coverage
.tox/
.nox/
htmlcov/
.hypothesis/
.cache
nosetests.xml
coverage.xml
*,cover
*.py,cover
.coverage.*
.cache
.pytest_cache
pytestdebug.log
.noseids

# Other
.DS_Store
*.swp
*.swo
*~
.sass-cache/
celerybeat-schedule
celerybeat.pid
*.db
*.pid
*.orig

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.override.yml
